@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
  /* Viewport sizes */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Neutral */
  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-dark: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-darker: hsl(237, 14%, 26%);

  /* Typography */
  /* Body Copy */
  --font-size-body: 18px;

  /* Font */
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --small-light-mode-img: url("src/lib/images/bg-mobile-light.jpg");
  --large-dark-mode-img: url("src/lib/images/bg-desktop-dark.jpg");

  --small-dark-mode-img: url(" src/lib/images/bg-mobile-dark.jpg");
  --large-light-mode-img: url("src/lib/images/bg-desktop-light.jpg");
}

:root[data-theme="light"] {
  --bg-task: hsl(0, 0%, 98%);
	--bg-color:hsla(235, 32%, 92%, 0.833);
	/* hsl(236, 33%, 92%) */
  --color: hsl(235, 19%, 35%);
	/* hsl(235, 19%, 35%) */
  --border-color: hsl(233, 11%, 84%); 
  --label-color: hsla(237, 9%, 61%, 0.193);
  --hover-effect-color: hsl(235, 19%, 35%);
	--sad-color: hsl(236, 33%, 92%);
	
}

:root[data-theme="dark"] {
  --bg-color: hsl(235, 21%, 11%);
  --color: hsl(234, 39%, 85%);
	--bg-task:hsl(237, 14%, 26%);
  --hover-border-color: hsl(236, 33%, 92%);
	  --label-color: hsla(233, 11%, 52%, 0.329);
  --hover-effect-color: hsl(233, 14%, 35%);
	--border-color:hsl(234, 11%, 52%);
  --very-dark-grayish-blue-darker: hsl(237, 14%, 26%);
	--very-dark-desaturated-blue: hsl(235, 24%, 19%);

	--sad-color: hsl(236, 33%, 92%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: hsl(235, 21%, 11%);
		--color: hsl(234, 39%, 85%);
		--bg-task:hsl(237, 14%, 26%);
		--hover-light-color: hsl(236, 33%, 92%);
		--label-color: hsl(234, 11%, 52%);
		--hover-effect-color: hsl(233, 14%, 35%);
		--border-color:hsl(234, 11%, 52%);
	}
}


*{
	margin: 0;
	padding: 0;
	transition: background-color ease-in-out 0.3s;
	/* transition: color ease-in-out 0.3s; */
}

body{
	font-family: var(--font-family);
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-regular);
	height: 100dvh;
	width: 100dvw;
}



.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
